.log-in-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  color: white;
  border-radius: 10px;
  margin-top: 10rem;
}

label {
  margin-right: 1rem;
}

.log-in-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.log-in-form > div {
  display: flex;
  flex-direction: column;
  margin: 5px;
  margin-bottom: 1rem;
}

.log-in-button {
  width: 80%;
  height: 30px;
  background-color: blue;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.title-header {
  margin-bottom: 4rem;
}